<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.waze" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.calculator" />
        <package android:name="com.sec.android.app.popupcalculator" />
        <package android:name="com.android.calculator2" />
        <package android:name="com.huawei.calculator" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Asistente"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asistente">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
